# 01.Intro

## shortcut(단축키)
-  ctrl + enter : 현재 셀 실행
-  shift + enter : 현재 셀 실행 & 아래로 이동
-  alt + enter : 현재 셀 실행 & 아래에 새로운 셀을 추가

## 주의사항 (명령어 개념 구분 잘해야 한다)

1. Apple / apple : 컴퓨터에서 대문자와 소문자는 완전히 다른 개념의 명령어
2. git add . / git add. : 띄어쓰기에 따라 완전히 다른 개념의 명령어
3. message / massage : 철자 오탈자에 따라 완전히 다른 개념의 명령어

In [ ]:
# 여기는 주석입니다.

## 1. 변수

변수이름 (좌항) = 값 (우항)

- 변수이름은 어떤 이름이든 사용 가능
- 다만, '영어', '숫자',' _' 를 이용하여 선언(위 세 가지 위주로 이용해야 한다. 한글은 웹 개발에서 사용을 지양함)
- 키워드는 사용 불가

In [12]:
a=50

In [13]:
a

50

In [15]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [16]:
seoul_dust_rate = 10

## 1.1 nuber

In [19]:
a= 100000

In [20]:
a

100000

In [21]:
type(a)

int

In [22]:
b=1.1

In [23]:
b

1.1

In [24]:
type(b)

float

In [25]:
c = 1-4j

In [26]:
c

(1-4j)

In [27]:
type(c)

complex

### 1.2 boolean

True, False로 이루어진 타입

In [30]:
a = True

In [31]:
a

True

In [32]:
type(a)

bool

In [33]:
b = False

In [34]:
b

False

In [35]:
type(b)

bool

### 1.3 None

In [36]:
a = None

In [37]:
type(a)

NoneType

### 1.4 String (문자열)

- 문자열은 ' '와 " "를 이용하여 표현

In [38]:
a = 'hello'

In [39]:
type(a)

str

In [40]:
b = "world"

In [41]:
type(b)

str

In [44]:
age = input()
print(age)
print(type(age))

 123

123
<class 'str'>

In [47]:
print("안녕하세요 '김현호'입니다.")
print ('안녕하세요 "김현호"입니다')

안녕하세요 '김현호'입니다.
안녕하세요 "김현호"입니다

In [49]:
print('안녕하세요. \'김현호\'입니다')

안녕하세요. '김현호'입니다

In [51]:
a = '''
안녕하세요 '김현호'입니다.
여러 줄로도 한꺼번에 작성 가능합니다
'''
print(a)

안녕하세요 '김현호'입니다.
여러 줄로도 한꺼번에 작성 가능합니다

In [54]:
print('안녕하세요 \n김현호입니다. \t들여쓰기 이스케이프 문자열입니다.')

안녕하세요
김현호입니다. 	들여쓰기 이스케이프 문자열입니다.

### string interpolation

1. %-formatting
2. str.format()
3. f-string: 가장 최신 명령어 문법. 이걸 위주로 사용하자

In [55]:
age = 10

In [56]:
print('홍길동은 %s살 입니다.'% age)

홍길동은 10살 입니다.

In [57]:
print('홍길동운 {}살 입니다.'.format(age))

홍길동운 10살 입니다.

In [58]:
print(f'홍길동은 {age}살 입니다')

홍길동은 10살 입니다

## 2. 연산자
### 2.1 산술 연산자

In [63]:
a = 7
b = 3

In [64]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)

10
4
21
2.3333333333333335
343

In [66]:
# a를 b로 나눈 몫을 출력해주는 함수
print(a//b)

# a를 b로 나눈 나머지를 출력해주는 함수
print(a%b)

# 몫과 나머지를 같이 출력해주는 함수
print(divmod(a,b))

2
1
(2, 1)

## 2.2 비교 연산자

In [67]:
a = 5
b =10

In [69]:
print(a > b)
print(a < b)
print (a >= b)
print (a <= b)

False
True
False
True

In [71]:
print (a == b)
print (a != b)

False
True

In [73]:
print('hi' == 'hi')
print('Hi' == 'hi')

True
False

### 3. 논리 연산자

- and : 양쪽 모두 True일 때, True를 반환 (주어진 조건을 모두 충족-true할 때)
- or : 양쪽 모두 False일 때, False를 반환 (주어진 조건 중 하나라도 충족-true할 때)
- not :

In [74]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [75]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [76]:
print(not True)

False

In [77]:
result = True
print(not result)

False

In [78]:
# 단축평가 (and)

print(3 and 5)
print(3 and 0)
print(0 and 3)
print(0 and 0)

5
0
0
0

In [79]:
# 단축평가 (or)

print(3 or 5)
print(3 or 0)
print(0 or 3)
print(0 or 0)

3
3
3
0

## 2.4 복합연산자

In [80]:
a = 1
b = 2

In [ ]:
a = a + b
a = a - b
a = a * b
a = a / b

In [ ]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

### 2.5 기타 연산자

In [81]:
a = 'hi'
b = 'hello'

In [82]:
# concatenation

print(a + b)

hihello

In [83]:
 a = [1, 2, 3]
 b = [4, 5, 6]

In [84]:
print(a + b)

[1, 2, 3, 4, 5, 6]

In [86]:
# containment (어떤 요소에 대한 포함 여부를 묻는 명령어)

print(1 in a)

print(10 in a)

True
False

In [88]:
a = 5
b = 5

print(a == b)
print(a is b)

True
True

In [89]:
a = 123123
b = 123123

print(a == b)
print(a is b)

True
False

#### 우선순위 (외울 필요 없고 참고만 하기)

0. ()를 통해 그룹
1. **
2. 산술연산자(*,/)
3. 산술연산자(+,-)
4. 비교연산자, in, is
5. not
6. and
7. or

In [90]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

## 3. 형변환
### 3.1 암시적 형변환 (알아서 파이썬이 자동으로 명령어 형태를 변환해줌)

In [91]:
a = True
b = False
c = 1

In [93]:
print(a + b)
print(b - c)

1
-1

In [94]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

In [101]:
print(type(int_num + float_num))
print(float_num + complex_num)

<class 'float'>
(6.3+3j)

### 명시적 형변환

- int( ) : string, float => int
- float( ): string, int => float
- str( ) : int, float => string
- bool( ) : int, sting => bool

In [102]:
a = 1
b = '번'

In [103]:
print(a + b) #오류의 예시

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [105]:
print(str(a) + b)

1번

In [107]:
a = '3' #3이라는 글자
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [108]:
a = 'a' #오류의 예시
print(int(a))

ValueError: invalid literal for int() with base 10: 'a'

In [111]:
a = '3.3'
print(float(a))

3.3

In [112]:
a = 1
b = 0

print(bool(a))
print(bool(b))

True
False

In [114]:
print(bool([])) # 대괄호 값이 0과 같다
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열됐다는 것은 '정렬된 것'과 다르다)

1. List
2. Tuple
3. Range
4. String

### 4.1 List(리스트, 배열) 

- 선언 : 변수이름 = [value1, value2, value3 ...] # 대괄호 안에 여러 개의 데이터가 들어갈수 있다는 의미. 콤마(띄어쓰기) 필수
- 접근 : 변수이름[index] # 인덱스 순서는 0부터 시작함 #튜플과 달리 수정이 가능하다

In [146]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [125]:
location = ['인천', '서울', '대전', '뉴욕']
print(location)

print(location[2])

location[1] = '광주'
print(location)

['인천', '서울', '대전', '뉴욕']
대전
['인천', '광주', '대전', '뉴욕']

### 4.2 Tuple (튜플)

- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름 [index] #list는 소괄호, tuple은 대괄호
- 리스트와 형태가 유사하지만 수정은 불가능(immutable)이다.

In [128]:
numbers = (123, 456, 789)
print(numbers)
print(numbers[1])

(123, 456, 789)
456

In [129]:
numbers[1] = 654

TypeError: 'tuple' object does not support item assignment

In [134]:
# 자동적으로 튜플 구조를, 파이썬이 사용하는 예시

(x, y) = (1, 2)
print(x, y)

x, y = (1, 2)
print(x, y)

x, y = y, x
print(x, y)

1 2
1 2
2 1

### 4.3 Range

- range(n) : 0부터 n-1까지의 범위
- range(n, m) : n부터 n-1까지의 범위
- range(n, m, s) : n부터 n-1까지 s 만큼 증가하는 범위

In [136]:
lotto = range(45) #45개의 데이터 범위를 나타냄
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [137]:
numbers = range(5, 10)
print(numbers)
print(list(numbers))

range(5, 10)
[5, 6, 7, 8, 9]

In [142]:
even = range(2, 20, 2)
print(even)
print(list(even))

range(2, 20, 2)
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [143]:
numbers = range(0, -10, -2)
print(numbers)
print(list(numbers))

range(0, -10, -2)
[0, -2, -4, -6, -8]

### 4.4 String 

기본 데이터 구조 설명을 참고하기

### 4.5 시퀀스에서 활용가능한 연산/함수

In [147]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(5)
my_string = '12345'

In [152]:
# indexing: 특정 데이터에 (하나씩) 접근하는 것

print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

1
1
0
1

In [159]:
# slicing 컴퓨터 (프로그래밍) 관점 기준, 숫자 나열 -> [첫 숫자 : 마지막 숫자]
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

print(my_string[0:4:2])

[2, 3]
(2, 3)
range(1, 3)
23
13

In [162]:
# in 
print(1 in my_list)
print(1 in my_tuple)
print('1' in my_string)

# not in
print(1 not in my_list)

True
True
True
False

In [165]:
# concatenation
print(my_list + [6, 7, 8, 9, 10])
print(my_tuple + (6, 7, 8, 9, 10))
print(my_string + '678910')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
12345678910

In [169]:
# *
print('#' * 20)
print([0] * 10)

####################
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [170]:
print(len(my_list)) #데이터 끝나는 지점을 알려주는 명령어

5

In [171]:
print(max(my_list)) #데이터 최대값을 알려주는 명령어

5

In [172]:
print(min(my_list))

1

## 5. 시퀀스형이 아닌 자료구조

### 5.1 Set
수학에서 사용하는 집합과 동일한 개념 (중복값이 없음. 생략됨)

- 선언 : 변수이름 = {value1, value2, value3 ...}
-

In [174]:
my_set_a = {1, 3, 5, 7, 9}
my_set_b = {1, 2, 3, 4, 5}

In [178]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a & my_set_b)

{9, 7}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [179]:
test_set = {1, 2, 3, 4, 1, 3, 4, 5, 6, 1, 2, 3, 4, 5}
print(test_set)

{1, 2, 3, 4, 5, 6}

### 5.2 Dicitionary 

(순서대로 데이터를 정리하는게 아닌, key에 따라서 데이터를 분류하는 것)

- 선언 : 변수이름 = {key1: value1, key2: value2, ...}
- 접근 : 변수이름[key]

In [181]:
my_dict = {'서울': '02', '경기': '031'}
print(my_dict)
print(my_dict['서울'])

{'서울': '02', '경기': '031'}
02

In [183]:
my_info = {
 'name' : 'hyunho',
    'location' : 'incheon',
    'age' : 10, 
}

print(my_info['location'])

incheon

In [ ]:
my_info.keys() #key들의 목록을 보여주라는 명령어

In [ ]:
my_info.values() #values들의 목록을 보여주라는 명령어

##### 오늘 배운 것 정리 :데이터 타입

1. Number
2. Boolean
3. string

#### 자료구조 (자료를 어떻게 묶는지 방법론?)
-시퀀스 자료형

1. [lsit] : mutable(수정 가능)
2. (Tuple) immutable(수정 불가능)
3. range() immutable(수정 불가능)
4. 'string' immutable(수정 불가능)

- 시퀀스가 아닌 자료형
- {Set}: mutable(수정 가능)
- {Dict: ionary}: mutable(수정 가능)