In [1]:
# 객체 = 데이터, 기능

#

In [3]:
print(dir('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [5]:
# dir: 모든 기능을 알려주는 함수(?)

## 문자열 메소드(문자열 함수와 유의어)

In [6]:
a = 'hello my name is hong'

In [7]:
print(a)

hello my name is hong

In [8]:
a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [9]:
a.capitalize() #문자열 메소드 적용

'Hello my name is hong'

In [11]:
a.title()

'Hello My Name Is Hong'

In [13]:
a.lower()

'hello my name is hong'

In [16]:
a = a.upper() #title(), lower(), upper() 함수들은 결과 도출이 아닌, 리턴만 도출하는 것, 결과 도출하려면 'a = 함수' 식으로 재할당 해야

In [17]:
print(a)

HELLO MY NAME IS HONG

In [20]:
my_list = ['my', 'name', 'is'] # .join() 함수 설명: 여러 요소들을 합칠 때
print('!!!'.join(my_list))

my!!!name!!!is

In [25]:
my_string = '              hello                \n  '
#print(my_string)
print(my_string.strip())

my_string2 = '------------hello---------------'
print(my_string2.strip('-'))
print(my_string2.lstrip('-'))
print(my_string2.rstrip('-'))

hello
hello
hello---------------
------------hello

In [30]:
a ='woooooooooooooooow'
a.replace('o', '?', 3) #replace(무엇을 바꿀지, 무엇으로 바꿀지, 몇개를 바꿀지(왼쪽순부터)) 마지막 숫자항이 없으면 모든 해당 데이터들이 바뀜)

'w???ooooooooooooow'

In [34]:
a = 'apple'
print(a.find('a'))
print(a.find('l'))
print(a.find('z')) #없는 데이터를 find() 함수에 대입하면 -1이 나옴

0
3
-1

In [38]:
a = 'apple'
print(a.index('a'))
print(a.index('l'))
print(a.index('z')) #없는 데이터를 index() 함수에 대입하면 에러가 나옴

0
3

ValueError: substring not found

In [42]:
a = 'my_name_is_hong' # split(): 문장을 데이터 요소들로 나누는 함수. 이 예시는 '_'를 기준으로 데이터 요소들을 나눠달라는 것
a.split('_')

a = 'my name is hong' # 뛰어쓰기 빈칸을 기준으로 데이터 요소들을 나눠달라는 것
a.split(' ')

['my', 'name', 'is', 'hong']

In [44]:
a = 'wooooooooooooooooooo'
a.count('o')

19

# 리스트 매소드 (=mutable 수정가능한)

In [45]:
numbers = [1, 4, 3, 6, 8, 9, 3]

In [46]:
numbers.append(10) #numbers 집합에 10을 데이터 요소에 추가해주라는 명령어 (맨 오른쪽에 추가해줌) append():데이터를 맨 오른쪽에 추가해주는 함수
print(numbers)

[1, 4, 3, 6, 8, 9, 3, 10]

In [48]:
 a = [99,100]

numbers.extend(a)
print(numbers)
numbers = numbers + a
print(numbers)

[1, 4, 3, 6, 8, 9, 3, 10, 99, 100, 99, 100]
[1, 4, 3, 6, 8, 9, 3, 10, 99, 100, 99, 100, 99, 100]

In [52]:
numbers.insert(0, -10) #원하는 위치에 내가 원하는 데이터 요소를 집어 넣는 함수 #똑같은 함수를 계속 실행할 때 누적되는 게 아니라 원본이 계속 수정되는 것
print(numbers)

[-10, -10, -10, 1, 4, 3, 6, -10, 8, 9, 3, 10, 99, 100, 99, 100, 99, 100]

In [57]:
#데이터 요소를 찾아 제거하는 함수, 똑같은 함수를 계속 실행할 때 누적되는 게 아니라 원본이 계속 수정되는 것. 
#더이상 해당 데이터 요소가 없을 때 해당 방법으로 제거하려면 에러 발생

numbers.remove(-10) #해당 값을 가진 데이터를 제거
print(numbers)

ValueError: list.remove(x): x not in list

In [65]:
numbers.pop() # pop(): 오른쪽부터 데이터 요소를 제거해주는 함수(메소드) 어느 위치에 있는 데이터를 제거. +결과를 return해 저장함(완전 제거는 아님?)
print(numbers)

numbers.pop(0) # 0번째 배열 데이터 배열 제거(앞[왼쪽]부터 데이터 요소를 제거할 때 사용하는 함수(메소드)
print(numbers)

[1, 4, 3, 6, 8, 9, 3, 10]
[4, 3, 6, 8, 9, 3, 10]

In [67]:
numbers.sort() #sort(): (오름차순) 정렬
print(numbers)

numbers.sort(reverse=True) #sort(reverse=True): (내림차순) 정렬 
print(numbers)

[3, 3, 4, 6, 8, 9, 10]
[10, 9, 8, 6, 4, 3, 3]

In [69]:
numbers = [5, 3, 7, 1, 8, 2, 3]

print(sorted(numbers))
print(numbers)

[1, 2, 3, 3, 5, 7, 8]
[5, 3, 7, 1, 8, 2, 3]

In [72]:
my_list = ['b', 'c', 'a', 'e', 'f']  #sort(): 알파벳, 한글도 역시 오름차순으로 정렬됨
my_list.sort()
print(my_list)

my_kor = ['가', '다', '라', '나', '마']
my_kor.sort()
print(my_kor)

['a', 'b', 'c', 'e', 'f']
['가', '나', '다', '라', '마']

In [73]:
print(numbers) #reverse(): 데이터 요소들의 위치 앞뒤를 역전
numbers.reverse()
print(numbers)

[5, 3, 7, 1, 8, 2, 3]
[3, 2, 8, 1, 7, 3, 5]

In [79]:
print(numbers)
print(numbers[-2]) #0이상 양수이면 0부터 시작하는 배열 순서, 음수이면 뒤에서부터 배열 순서
print(numbers[1:3]) #1이상 3이하 데이터 요소들 취합
print(numbers[::-1]) # reverse()와 같음

[3, 2, 8, 1, 7, 3, 5]
3
[2, 8]
[5, 3, 7, 1, 8, 2, 3]

## list copy

In [81]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [82]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [83]:
origin_list[0] = 100

In [84]:
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [85]:
origin_list = [1, 2, 3]
copy_list = origin_list[:] #새로 저장?

origin_list[0] = 100

print(origin_list)
print(copy_list)

[100, 2, 3]
[1, 2, 3]

In [86]:
origin_list = [1,         2,         [3, 4]   ]
copy_list = origin_list[:]

origin_list[0] = 100
origin_list[2][0] = 300

print(origin_list)
print(copy_list)

[100, 2, [300, 4]]
[1, 2, [300, 4]]

In [88]:
import copy
origin_list = [1, 2, [3, 4]]
copy_list = copy.deepcopy(origin_list)

origin_list[0] = 100
origin_list[2][0] = 300

print(origin_list)
print(copy_list)

[100, 2, [300, 4]]
[1, 2, [3, 4]]

## list comprehension

In [93]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
result =[]
for number in numbers:
    세제곱 = number ** 3
    result.append(세제곱)
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [95]:
result = [number ** 3 for number in numbers] 
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [96]:
result = []
for number in numbers:
    if number % 2 == 0:
        result.append(number) #result에 해당 number들을 추가해줘

print(result)

[2, 4, 6, 8, 10]

In [99]:
result = [number for number in numbers if number % 2 == 0]
print(result)

[2, 4, 6, 8, 10]

In [132]:
# 연습문제

words = 'my name is hong'
print(words)

result = ['m', 'y' 'n', 'a', 'm', 'e', 'i', 's', 'h', 'o', 'n', 'g']
for char in words:
    if char == ('a'):
        result.remove(char)
    elif char == ('e'):
        result.remove(char)
    elif char == ('i'):
        result.remove(char)
    elif char == ('o'):
        result.remove(char)

print(result)


#여기서 모음을 제거해, my nm s hng 만들기

my name is hong
['m', 'yn', 'm', 's', 'h', 'n', 'g']

In [139]:
# 연습문제 강사 답안: for, if 조건문 활용

words = 'my name is hong'
print(words)

# vowels = ['a', 'e', 'i', 'o','u']
vowels = 'aeiou'
result = []
for char in words:
    if char not in vowels:
        #모음인 경우 => not 붙이면 자음인 경우로
        result.append(char)

    #else:
        #자음인 경우 => not 붙이면 모음인 경우로. 이때 else조건문은 필요 없음, 지우기

print(result)
print(''.join(result))



#여기서 모음을 제거해, my nm s hng 만들기

my name is hong
['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [152]:
#답안 2 list comprehension 방법 활용

vowels = 'aeiou'

result = [char for char in words if char not in vowels]
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [167]:
# 답안 3. replace 메소드 활용

vowels = 'aeiou'

for char in words:
    words = words.replace(char, '')

print(words)

In [153]:
a = 'asdf'
print(a.replace('a', '1'))
print(a)

1sdf
asdf

# dictionary 메소드

In [179]:
info = {
    'name': 'hong',
    'location': 'seoul',
    'age': 20,
    'models': ['iphone', 'macbook', 'watch'],
    'phone_book': {
        'kim': '010-1234-1234',
        'lee': '010-4567-4567'
    }
}

In [180]:
print(info['name'])
print(info['age'])
print(info['models'][0])
print(info['phone_book']['kim'])

hong
20
iphone
010-1234-1234

In [183]:
info['name'] = 'park'
print(info)

info.update(name='oh')
print(info)

{'name': 'park', 'location': 'seoul', 'age': 20, 'models': ['iphone', 'macbook', 'watch'], 'phone_book': {'kim': '010-1234-1234', 'lee': '010-4567-4567'}}
{'name': 'oh', 'location': 'seoul', 'age': 20, 'models': ['iphone', 'macbook', 'watch'], 'phone_book': {'kim': '010-1234-1234', 'lee': '010-4567-4567'}}

In [184]:
age = info.pop('age')
print(info, age)

{'name': 'oh', 'location': 'seoul', 'models': ['iphone', 'macbook', 'watch'], 'phone_book': {'kim': '010-1234-1234', 'lee': '010-4567-4567'}} 20

In [186]:
print(info.get('name'))
print(info['name'])

oh
oh

In [187]:
print(info.get['birth'])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [188]:
print(info.get('birth'))

None

In [200]:
# 연습문제 1
blood_type = ['A', 'B', 'O', 'AB', 'A']

# => blood_dict = {'A': 2, 'B': 2, 'AB': 1, 'O': 1}

result= {
    'A': 0,
    'B': 0,
    'AB': 0,
    'O': 0,
}
for blood in blood_type:
    result[blood] += 1

print(result)

{'A': 2, 'B': 1, 'AB': 1, 'O': 1}

In [198]:
info = {
    'A': 2, 'B': 2, 'AB': 1, 'O': 1
}

print(info['A'])
print(info['B'])
print(info['AB'])
print(info['O'])

info['A'] = 2
info['B'] = 2
info['AB'] = 1
info['O'] = 1


print(info)

2
2
1
1
{'A': 2, 'B': 2, 'AB': 1, 'O': 1}

In [227]:
# 연습문제 2

location = ['서울', '대전', '서울', '부산', '강릉']

result= {
    '서울': 0,
    '대전': 0,
    '부산': 0,
    '강릉': 0,
}

for city in location:
    result[city] += 2

print(result)

{'서울': 4, '대전': 2, '부산': 2, '강릉': 2}

In [226]:
# 연습문제 2 강사 답안

locations = ['서울', '대전', '서울', '부산', '강릉', '광주', '수원', '인천', '전주'] #중괄호는 세트(set). 요소의 중복 허용 없이 하나의 독립적인 요소들로 인식됨. 
# 또한 중괄호로 get() 함수를 돌리면, 시퀀스(순서)를 랜덤으로 추가됨

result = {}

for location in locations:
    # result의 key에 location이 있으면
    if result.get(location):
        result[location] += 1
    # resul의 key에 location이 없으면
    else:
        result[location] = 1    

print(result)

{'서울': 2, '대전': 1, '부산': 1, '강릉': 1, '광주': 1, '수원': 1, '인천': 1, '전주': 1}

## dict comprehension

In [228]:
# {1: 1, 2: 8, 3: 27, ... 10:1000}

result = {}
numbers = list(range(1,11))

for number in numbers:
    result[number] = number ** 3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [230]:
result = {number: number ** 3 for number in numbers}
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [231]:
dust = {
    '서울': 50,
    '대전': 100,
    '부산': 70,
    '광주': 90,

    
}

#result = {'대전': 100, '공주': 90}


# 답안 1: for 조건문 활용

result = {}
for key, value in dust.items():
    if value > 70:
        result[key] = value
print(result)

{'대전': 100, '광주': 90}

In [233]:
# 답안 2: comp 활용
result = {k: 'bad' for k, v in dust.items() if v > 70}
print(result)

{'대전': 'bad', '광주': 'bad'}

## 세트 매소드

In [234]:
fruits = {'apple', 'banana', 'melon'}

In [267]:
print(fruits)

{'r', 'orange', 'n', 'banana', 'watermelon', 'grape', 'b', 'a', 'g'}

In [264]:
fruits.add('watermelon')
print(fruits)

{'r', 'orange', 'n', 'banana', 'watermelon', 'grape', 'b', 'a', 'g'}

In [265]:
# => list의 extends와 비슷한 역할

fruits.update({'grape', 'orange'})
print(fruits)

{'r', 'orange', 'n', 'banana', 'watermelon', 'grape', 'b', 'a', 'g'}

In [253]:
fruits.remove('apple')
print(fruits)

{'p', 'e', 'melon', 'r', 'orange', 'n', 'banana', 'watermelon', 'grape', 'b', 'a', 'g'}

In [257]:
fruits.pop() #pop 함수에서 제거되는 순서는 사람마다 랜덤
print(fruits)

{'r', 'orange', 'n', 'banana', 'watermelon', 'grape', 'b', 'a', 'g'}

## map, filter, zip 
### map
- map(function 함수, iterable 반복하려는 배열)

반복작업을 편하게 해주는

In [268]:
numbers = [1, 2, 3, 4, 5]

result = []
for number in numbers:
    result.append(str(number))
print(result)

['1', '2', '3', '4', '5']

In [272]:
result = map(str, numbers)
print(result)
print(list(result))

<map object at 0x000001EE323FBF70>
['1', '2', '3', '4', '5']

In [273]:
result = []
for number in numbers:
    result.append(number ** 3)
print(result)

[1, 8, 27, 64, 125]

In [277]:
def cube(x):
    return x ** 3

In [278]:
result = map(cube, numbers)
print(list(result))

[1, 8, 27, 64, 125]

In [281]:
test_input = '1 3 5 7 9'
print(list(map(int, test_input.split()))) #텍스트 형식을 숫자로 바꿀 때의 명령어

[1, 3, 5, 7, 9]

### filter 

(true이면 값을 남기고 false면 값을 없애는 장치)

- filter(function, iterable)

In [282]:
def is_odd(x):
    return x % 2

In [283]:
numbers = [1, 2, 3, 4, 5]

result =[]
for number in numbers:
    if number % 2:
        result.append(number)

print(result)

[1, 3, 5]

In [284]:
result = filter(is_odd, numbers)
print(list(result))

[1, 3, 5]

### zip

어떤 배열들을 합할 때 사용

In [287]:
a = [1, 2, 3]
b = [100, 200, 300, 400, 500]

result = zip(a,b)
print(result)
print(list(result))

<zip object at 0x000001EE32A80D80>
[(1, 100), (2, 200), (3, 300)]